@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #505050;

  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dayPicker-monthly {
  .rdp-button_previous {
    background-color: #f8a047;
    border-radius: 100px;
    width: 14px;
    height: 14px;
  }
  .rdp-button_next {
    background-color: #f8a047;
    border-radius: 100px;
    width: 14px;
    height: 14px;
  }
  .rdp-chevron {
    fill: #ffffff;
  }
  .rdp-months {
  }
  .rdp-caption_label {
  }
  table {
    display: none;
  }
}
